$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;
$dark-green: #219653;

.right-column__image {
    max-width: 90%;
    margin-left: 5%;


    @media screen and (max-width: 1024px) {
        min-width: 110%;
        margin-left: -10%;
    }

    @media screen and (max-width: 768px) {
        min-width: 100%;
        margin-left: 0%;
    }
}

.content-container__left-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    // transition: all 0.3s ease-out;

    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
}

.left-column__button {
    display: flex;
    flex-direction: column;

    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 144px;

    background-color: white;
    border-radius: 6px;

    padding: 15px 15px 15px 15px;
    // transition: bottom 1s;
    cursor: pointer;

    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;

    &:active {
        background: #8896a069;
        color: #fff;
        transition: all 0.3s ease-out;
    }

    &:hover {
        position: relative;
        bottom: 10px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        transition: all 0.3s;
    }

    @media screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 20px;
        padding: 7px;

        width: calc(100% / 2.5 - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.content-container__right-column {
    width: 50%;

    @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.main__content-container {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;

    }
}

.main__content-container_pink,
.main__content-container_green {
    margin-top: 100px;

    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.button__img {
    width: 36px;
    height: 36px;
    margin-bottom: auto;

    & img {
        max-width: 100%;
    }
}


.main__content-container_green {
    // margin-top: 70px;

    & .content-container__left-column {
        margin-top: 70px;
    }
}