// @import 'fonts.scss';
// используемые шрифты

$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;


//заголовок и 
.heading_calories-calc {
    text-align: center;
    font-family: 'Montserrat-Semibold', sans-serif;
    margin-top: 30px;
    font-size: 35px;
    margin-left: 35%;

    @media screen and (max-width: 860px) {
        margin-top: 30px;
        margin-left: 20%;
    }

    @media screen and (max-width: 768px) {
        margin-top: 20px;
        margin-left: 20%;
    }

    @media screen and (max-width: 350px) {
        font-size: 25px;
    }

    @media screen and (max-width: 320px) {
        font-size: 25px;
    }
}

//контейнер с заголовком и кнопкой
.calc_title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

//кнопка-крестик

//.cl-btn-7-calories 


.cl-btn-7-calories:before {
    content: '+';
    color: $dark-pink;
}

.cl-btn-7-calories:after {
    content: '';
    background: $dark-pink;
}


.container_calories-calc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Rubik-Regular', sans-serif;
    padding: 0 10%;
}

//основной большой блок
.calc_container {
    max-width: 1200px;
    border-radius: 20px;
    min-height: 70vh;
    padding-left: 20px;
    padding-right: 20px;
    // border: 1px solid black;
    background-color: #fff;

    // width: 95%;
    height: fit-content;
    // margin: auto;
    box-sizing: border-box;
}

.container_calories-calc_height,
.container_calories-calc_weight,
.container_calories-calc_age,
.container_calories-calc_action {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 350px;
    font-family: 'Montserrat-Semibold', sans-serif;
    font-size: 15px;


    @media screen and (max-width: 480px) {
        width: 250px;
    }
}

.calories_gender,
.calories-calc_height,
.calories-calc_weihgt,
.calories-calc_age {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-size: 15px;
}

// .container_calories-calc_action {
//     width: 400px;
//     padding-top: 10px;

// }

.calc_radio {
    padding-top: 10px;
}

.form-group {
    @media screen and (min-width: 1024px) {
        position: relative;
        margin-left: 110%;
        transform: translate(-50%, 0);
    }
}


.calories_button {
    height: 35px;
    width: 200px;
    border: 1px solid #eedac9;
    border-radius: 5px;
    background-color: $dark-pink;
    outline: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;

    &:hover {
        box-shadow: 0px 0px 3px 1px #6d6552;
    }

    &:active {
        background: #bf9999;
    }



}

.calc-error {
    color: $dark-pink;
    margin: 15px;
    text-align: center;
    font-size: 15px;
}


// чтобы инпуты стали розовые
input[type=radio] {
    /* hide original inputs */
    visibility: hidden;
    position: absolute;
}

input[type=radio]+label {
    cursor: pointer;
}

input[type=radio]+label:before {
    height: 16px;
    margin-right: 4px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    transition: 0.3s;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 0 -3px 6px #e4e4e4;
    transition: 0.3s;
}

/* CUSTOM RADIO AND CHECKBOX STYLES */
/* DEFAULT */
input[type=radio]+label:before {
    border-radius: 50%;
    width: 16px;
}

/* CHECKED */
input[type=radio]:checked+label:before {
    box-shadow: inset 0 -1px 3px #e4e4e4, inset 0 0 1px #222, inset 0 0 0 3px #eb4b51;
}

.calc_height_input,
.calc_weight_input,
.calc_age_input,
.custom-select {
    color: $dark-pink;
    // height: 15px;
    width: 350px;
    border: 1px solid #eedac9;
    border-radius: 5px;
    background-color: #f8eae871;
    outline: none;
    text-align: center;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;

    &:hover {
        box-shadow: 0px 0px 5px 1px #6d6552;
    }

    @media screen and (max-width: 480px) {
        padding: 0px;
        width: 90%;
    }
}

// убираю стрелки в поле
.calc_weight_input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calc_height_input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calc_age_input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control {
    color: $dark-pink;
    height: 15px;
    width: 250px;
    border: 1px solid #eedac9;
    border-radius: 5px;

    outline: none;
    text-align: center;
    padding: 10px;
    font-size: 18px;

    @media screen and (max-width: 375px) {
        padding: 0px;
        height: 30px;
        width: 80%;
    }

    @media screen and (max-width: 414px) {
        padding: 0px;
        height: 30px;
        width: 80%;
    }
}


.counter_result-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    padding-top: 11px;
    list-style: none;
    display: flex;
    gap: 10px;


    @media screen and (max-width: 890px) {
        margin-left: 0px;
        padding: 0px
    }
}

.calories-calc_form {
    @media screen and (max-width: 890px) {
        margin-right: 30px;
    }

    @media screen and (max-width: 480px) {
        margin-right: 0px;
    }
}

.heading_calories_result {
    margin-left: 35px;
    margin-top: 50px;

    @media screen and (max-width: 375px) {
        text-align: left;
        margin-left: 40px;
    }
}

.heading_calories-result {
    margin: 0px;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.calories_calc-text {
    margin: 0px;
}

.calc-option {
    width: 350px;
    height: fit-content;
    font-size: 10px;
}