$pink: #f8eae8;
$green: #d6e7da;


.body {
    background-color: $pink;
}


.body_pink {
    background-color: $pink;
}

.body_green {
    background-color: $green;
}


.main {
    max-width: 1200px;
    margin: 0 auto;
}


*,
html *

/* override x.xhtml.ru style */
    {
    scrollbar-width: thin;
    scrollbar-color: $pink $green;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    height: 10px;
    width: 9px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: $green;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: $pink;
}