$pink: #f8eae8;
$green: #d6e7da;


.body {
    background-color: $pink;
}


.body_pink {
    background-color: $pink;
}

.body_green {
    background-color: $green;
}


.main {
    max-width: 1200px;
    margin: 0 auto;
}