.main__content-container-empty {
    min-height: 70vh;
    background-color: white;
    border-radius: 20px;
    // padding: 15px;
    margin-bottom: 20px;
}

.content-container__content {
    width: 100%;
}