@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Semibold";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
