@import 'normalize.scss';
@import 'fonts.scss';
@import '../scripts/node_modules/js-datepicker/src/datepicker.scss';


body {
  max-width: 900px;
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;


  font-family: 'Montserrat-Semibold', sans-serif;

  background-color: #f8eae8;
}

.container {
  display: flex;
  gap: 30px;
}

.calcIMT {
  display: flex;
  flex-direction: column;
}

.btn {
  border: 0;
  text-align: center;
  padding: 7px 41px;
  text-decoration: none;
  box-shadow: none;
  border-radius: 15px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18.0097px;
  line-height: 30px;
  color: #FFFFFF;
  background: #E43A56;
}