@import 'normalize.scss';
@import 'fonts.scss';
@import '../scripts/node_modules/js-datepicker/src/datepicker.scss';

$pink: #f8e9e7;
$dark-pink: #eb4b51;
$white: #ffffff;



body {
  background-color: $pink;
}

.main_container_IMT {
  max-width: 1200px;
  min-height: 70vh;
  margin: auto;
  padding: 15px;

  margin-top: 50px;
  font-family: 'Montserrat-Semibold', sans-serif;
  border-radius: 10px;
  background-color: $white;
  max-height: fit-content;
}

//стили кнопки закрытия - начало
.btn_close_IMT {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

.cl-btn-7_IMT {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  // margin: 20px auto;
  cursor: pointer;
}

.cl-btn-7_IMT:before {
  content: '+';
  color: $dark-pink;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.cl-btn-7_IMT:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: $dark-pink;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}

.cl-btn-7_IMT:hover:after {
  transform: scale(1);
}

.cl-btn-7_IMT:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}


//стили кнопки закрытия - конец

.title_IMT {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;

  @media screen and (max-width: 578px) {
    font-size: 30px;
  }
}

.containerIMT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  @media screen and (max-width: 1025px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.calcIMT_and_showIMT {
  display: flex;
  flex-direction: row;
  gap: 40px;

  @media screen and (max-width: 590px) {
    flex-direction: column;
  }
}

.calcIMT {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .userHeight_IMT,
  .userWeight_IMT,
  .date_IMT {
    display: flex;
    flex-direction: column;
  }

  .btn_IMT {
    border: 0;
    text-align: center;
    padding: 7px 41px;
    text-decoration: none;
    box-shadow: none;
    border-radius: 15px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18.0097px;
    line-height: 30px;
    color: #FFFFFF;
    background: $dark-pink;

    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 5px 1px $dark-pink;
    }

    &:active {
      background: $dark-pink;
    }
  }

  @media screen and (max-width: 960px) {
    align-items: center;

  }


}

.show_valueIMT {
  display: flex;
  text-align: center;
}

.showIMT {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


// график-шкала
.IMT__gradient {
  height: 6px;
  background: linear-gradient(90deg, #B5D4F1 0%, #81E6DB 37.77%, #E8D284 70.4%, #E2798E 100%);
  margin-top: -28px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  border-radius: 3px;
}

.chart__container_IMT {
  width: 280px;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 50px;
}

.IMTinfo {
  font-style: italic;
}

//подсказка по клику на весы (что такое ИМТ)
.IMT_details {
  vertical-align: super;
  text-decoration: none;
  color: $dark-pink;

  .IMT_details_title {
    font-size: 25px;
    font-weight: bold;
  }

  .IMT_details_text {
    line-height: 150%;
  }
}

/* Unopened lightbox */
.lightbox {
  display: none;
}

/* Opened lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lightbox content */
.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #f8eae8;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: $dark-pink;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  content: "";
  cursor: default;
}

//стили сообщений об ошибке
.errorMessage_IMT {
  color: red;
  font-size: 10px;
}

//контейнер для графика динамики ИМТ

.chart_historyIMT {
  width: 400px;

  @media screen and (max-width: 1025px) {
    width: 500px;
  }

  @media screen and (max-width: 578px) {
    width: 300px;
  }


}

//наведение курсора на поле ввода
.enter_input {
  &:hover {
    box-shadow: 0px 0px 5px 2px #eb4b51;
  }

}

.btn_clear_history_IMT {
  margin-top: 30px;
  border: 0;
  text-align: center;
  padding: 7px 30px;
  text-decoration: none;
  box-shadow: none;
  border-radius: 15px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background: $dark-pink;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 5px 1px $dark-pink;
  }

  &:active {
    background: $dark-pink;
  }

}