@import 'normalize.scss';
@import 'fonts.scss';
@import '../scripts/node_modules/js-datepicker/src/datepicker.scss';


.main_container_IMT {
  max-width: 600px;
  min-height: 60vh;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 50px;
  border: 1px solid black;
  font-family: 'Montserrat-Semibold', sans-serif;
  border-radius: 10px;
  background-color: #f8eae8;
}

//стили кнопки закрытия - начало
.btn_close {
  display: flex;
  justify-content: flex-end
}

.cl-btn-7 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  // margin: 20px auto;
  cursor: pointer;
}

.cl-btn-7:before {
  content: '+';
  color: #E43A56;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.cl-btn-7:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #E43A56;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
}

.cl-btn-7:hover:after {
  transform: scale(1);
}

.cl-btn-7:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}

//стили кнопки закрытия - конец

.title {
  text-align: center;
  margin-bottom: 40px;
}

.containerIMT {
  display: flex;
  gap: 30px;
}

.calcIMT {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  border: 0;
  text-align: center;
  padding: 7px 41px;
  text-decoration: none;
  box-shadow: none;
  border-radius: 15px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18.0097px;
  line-height: 30px;
  color: #FFFFFF;
  background: #E43A56;
}

.show_valueIMT {
  display: flex;

  .showIMT {
    display: flex;
    flex-direction: column;
  }
}

// график
.IMT__gradient {
  height: 6px;
  background: linear-gradient(90deg, #B5D4F1 0%, #81E6DB 37.77%, #E8D284 70.4%, #E2798E 100%);
  margin-top: -28px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  border-radius: 3px;
}

.chart__container {
  width: 250px;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 50px;
}

.IMTinfo {
  font-style: italic;
}

//подсказка
.IMT_details {
  vertical-align: super;
  text-decoration: none;
  color: #E43A56;

}

.IMT_details_title {
  font-size: 25px;
  font-weight: bold;

}

.IMT_details_text {
  line-height: 150%;

}

/* Unopened lightbox */
.lightbox {
  display: none;
}

/* Opened lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lightbox content */
.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #f8eae8;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #E43A56;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  content: "";
  cursor: default;
}