@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Semibold';
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.main_container_IMT {
  max-width: 1200px;
  min-height: 70vh;
  margin: auto;
  padding: 15px;
  font-family: 'Montserrat-Semibold', sans-serif;
  border-radius: 20px;
  background-color: #ffffff;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.btn_close_IMT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cl-btn-7_IMT {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cl-btn-7_IMT:before {
  content: '+';
  color: #eb4b51;
  position: absolute;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.cl-btn-7_IMT:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #eb4b51;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
}

.cl-btn-7_IMT:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cl-btn-7_IMT:hover:before {
  -webkit-transform: scale(0.8) rotate(45deg);
          transform: scale(0.8) rotate(45deg);
  color: #fff;
}

.title_IMT {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 40px;
}

@media screen and (max-width: 578px) {
  .title_IMT {
    font-size: 30px;
  }
}

.containerIMT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1025px) {
  .containerIMT {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

.calcIMT_and_showIMT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}

@media screen and (max-width: 590px) {
  .calcIMT_and_showIMT {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.calcIMT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.calcIMT .userHeight_IMT,
.calcIMT .userWeight_IMT,
.calcIMT .date_IMT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calcIMT .btn_IMT {
  border: 0;
  text-align: center;
  padding: 7px 41px;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 15px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18.0097px;
  line-height: 30px;
  color: #FFFFFF;
  background: #eb4b51;
  cursor: pointer;
}

.calcIMT .btn_IMT:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #eb4b51;
          box-shadow: 0px 0px 5px 1px #eb4b51;
}

.calcIMT .btn_IMT:active {
  background: #eb4b51;
}

@media screen and (max-width: 960px) {
  .calcIMT {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.show_valueIMT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.showIMT {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.IMT__gradient {
  height: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#B5D4F1), color-stop(37.77%, #81E6DB), color-stop(70.4%, #E8D284), to(#E2798E));
  background: linear-gradient(90deg, #B5D4F1 0%, #81E6DB 37.77%, #E8D284 70.4%, #E2798E 100%);
  margin-top: -28px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  border-radius: 3px;
}

.chart__container_IMT {
  width: 280px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.IMTinfo {
  font-style: italic;
}

.IMT_details {
  vertical-align: super;
  text-decoration: none;
  color: #eb4b51;
}

.IMT_details .IMT_details_title {
  font-size: 25px;
  font-weight: bold;
}

.IMT_details .IMT_details_text {
  line-height: 150%;
}

/* Unopened lightbox */
.lightbox {
  display: none;
}

/* Opened lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Lightbox content */
.lightbox figcaption {
  width: 25rem;
  position: relative;
  padding: 1.5em;
  background-color: #f8eae8;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eb4b51;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  cursor: default;
}

.errorMessage_IMT {
  color: red;
  font-size: 10px;
}

.chart_historyIMT {
  width: 400px;
}

@media screen and (max-width: 1025px) {
  .chart_historyIMT {
    width: 500px;
  }
}

@media screen and (max-width: 578px) {
  .chart_historyIMT {
    width: 300px;
  }
}

.enter_input:hover {
  -webkit-box-shadow: 0px 0px 5px 2px #f57e82;
          box-shadow: 0px 0px 5px 2px #f57e82;
}

.btn_clear_history_IMT {
  margin-top: 30px;
  border: 0;
  text-align: center;
  padding: 7px 30px;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 15px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background: #eb4b51;
  cursor: pointer;
}

.btn_clear_history_IMT:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #eb4b51;
          box-shadow: 0px 0px 5px 1px #eb4b51;
}

.btn_clear_history_IMT:active {
  background: #eb4b51;
}
/*# sourceMappingURL=IMT.css.map */