@import 'normalize.scss';
@import 'fonts.scss';
// переменные с используемыми цветами

$pink: #f8eae8;
$back: #bf9999;
$font: #6d6552;

// используемые шрифты
$fz1:'Montserrat-Semibold',
sans-serif;
$fz2:'Rubik-Regular',
sans-serif;

.body-md {
    background-color: $pink;
}


.main-md {

    max-width: 1200px;
    border-radius: 20px;
    min-height: 70vh;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 70px;

    font-family: $fz1;
    border-radius: 10px;
    background-color: #fff;


    // стили кнопки

    .main_close_a_window {
        display: flex;
        height: 60px;
        justify-content: flex-end;
        width: 100px;
        margin-left: auto;


    }


    .errorMessage_dateMd,
    .errorMessage_stepsMd {
        text-align: center;
        padding-top: 5px;
        color: red;
        font-size: 10px;

    }

    .cl-btn-7-md {

        width: 40px;
        height: 40px;
        border-radius: 40px;
        position: relative;
        z-index: 1;
        margin: 20px auto;
        cursor: pointer;
    }

    .cl-btn-7-md:before {
        content: '+';
        color: #eedac9;
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
        font-size: 50px;
        line-height: 1;
        top: -5px;
        left: 6px;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    }

    .cl-btn-7-md:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: $back;
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
        transform: scale(0.01);
    }

    .cl-btn-7-md:hover:after {
        transform: scale(1);
    }

    .cl-btn-7-md:hover:before {
        transform: scale(0.8) rotate(45deg);
        color: #fff;
    }

    // стили заголовка
    .title-md {
        color: $font;
        font: $fz1;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
        gap: 5px;

        .motionDiary__recommendation {
            height: 40px;

            @media screen and (max-width: 450px) {
                display: none;
            }

        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            font-size: 30px;

        }

    }

    .section-datasets {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;


        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;

            // gap: 10px;
        }



    }

    .section-datasets__box {

        display: flex;
        flex-direction: column;
        gap: 20px;

        padding-right: 50px;
        border-right: 1px dashed $back;

        @media screen and (max-width: 768px) {
            border-right: none;
            padding-right: 0px;
            padding-bottom: 20px;
            align-content: center;

        }

    }

    .section-datasets__dateToday,
    .section-datasets__stepsToday {
        display: flex;
        flex-direction: column;
    }

    .section-datasets__text {
        margin-bottom: 10px;
        color: $font;
    }

    .section-datasets__input_one,
    .section-datasets__input_second {

        color: $font;
        height: 30px;
        width: 200px;
        border: 1px solid #eedac9;
        border-radius: 5px;
        background-color: #f8eae871;
        outline: none;
        text-align: center;

        &:hover {
            box-shadow: 0px 0px 5px 1px $font;
        }

        @media screen and (max-width: 768px) {
            height: 40px;
            width: 300px;
        }
    }


    // убираю стрелки в поле
    .section-datasets__input_second[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .section-datasets__btn,
    .section-datasets__btnMean {

        height: 35px;
        width: 200px;
        border: 1px solid #eedac9;
        border-radius: 5px;
        background-color: #bf9999;
        outline: none;
        color: #fff;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 3px 1px $font;
        }

        &:active {
            background: $back;
        }

        @media screen and (max-width: 768px) {
            height: 40px;
            width: 300px;
        }

    }

    // успехи пользователя.блок мотивации и среднее значение
    #personalRecords_box,
    .personalRecords_mean {

        color: $font;
        font-size: 15px;
        text-align: center;
        width: 200px;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    .chart-md {
        height: 50%;
        width: 65%;
        padding-left: 30px;

        @media screen and (max-width: 768px) {
            align-content: center;
            height: 80%;
            width: 100%;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        @media screen and (max-width: 420px) {
            padding-top: 20px;
            padding-bottom: 30px;
        }

    }

}