.main-md {
  max-width: 1200px;
  border-radius: 20px;
  min-height: 70vh;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 30px;
  font-family: "Montserrat-Semibold", sans-serif;
  background-color: #fff;
}

@media screen and (max-width: 420px) {
  .main-md {
    padding-bottom: 5px;
  }
}

.main-md .main_close_a_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100px;
  margin-left: auto;
}

.main-md .errorMessage_dateMd,
.main-md .errorMessage_stepsMd {
  text-align: center;
  padding-top: 5px;
  color: red;
  font-size: 10px;
}

.main-md .cl-btn-7-md {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  cursor: pointer;
}

.main-md .cl-btn-7-md:before {
  content: '+';
  color: #eedac9;
  position: absolute;
  z-index: 2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.main-md .cl-btn-7-md:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #bf9999;
  z-index: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
}

.main-md .cl-btn-7-md:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-md .cl-btn-7-md:hover:before {
  -webkit-transform: scale(0.8) rotate(45deg);
          transform: scale(0.8) rotate(45deg);
  color: #fff;
}

.main-md .title-md {
  color: #6d6552;
  font-family: "Montserrat-Semibold", sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  gap: 5px;
  margin-top: -20px;
}

.main-md .title-md .motionDiary__recommendation {
  height: 40px;
}

@media screen and (max-width: 450px) {
  .main-md .title-md .motionDiary__recommendation {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-md .title-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
    margin-top: 0px;
  }
}

.main-md .section-datasets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .main-md .section-datasets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-md .section-datasets__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-right: 50px;
  border-right: 1px dashed #bf9999;
}

@media screen and (max-width: 768px) {
  .main-md .section-datasets__box {
    border-right: none;
    padding-right: 0px;
    padding-bottom: 20px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-md .section-datasets__dateToday,
.main-md .section-datasets__stepsToday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-md .section-datasets__text {
  margin-bottom: 10px;
  color: #6d6552;
}

@media screen and (max-width: 768px) {
  .main-md .section-datasets__text {
    text-align: center;
  }
}

.main-md .section-datasets__input_one,
.main-md .section-datasets__input_second {
  color: #6d6552;
  height: 30px;
  width: 200px;
  border: 1px solid #eedac9;
  border-radius: 5px;
  background-color: #f8eae871;
  outline: none;
  text-align: center;
}

.main-md .section-datasets__input_one:hover,
.main-md .section-datasets__input_second:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #6d6552;
          box-shadow: 0px 0px 5px 1px #6d6552;
}

@media screen and (max-width: 768px) {
  .main-md .section-datasets__input_one,
  .main-md .section-datasets__input_second {
    height: 40px;
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .main-md .section-datasets__input_one,
  .main-md .section-datasets__input_second {
    width: 80%;
  }
}

.main-md .section-datasets__input_second[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-md .section-datasets__buttonSaveMd,
.main-md .section-datasets__buttonMean {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-md .section-datasets__btn,
.main-md .section-datasets__btnMean {
  height: 35px;
  width: 200px;
  border: 1px solid #eedac9;
  border-radius: 5px;
  background-color: #bf9999;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.main-md .section-datasets__btn:hover,
.main-md .section-datasets__btnMean:hover {
  -webkit-box-shadow: 0px 0px 3px 1px #6d6552;
          box-shadow: 0px 0px 3px 1px #6d6552;
}

.main-md .section-datasets__btn:active,
.main-md .section-datasets__btnMean:active {
  background: #bf9999;
}

@media screen and (max-width: 768px) {
  .main-md .section-datasets__btn,
  .main-md .section-datasets__btnMean {
    height: 40px;
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  .main-md .section-datasets__btn,
  .main-md .section-datasets__btnMean {
    width: 80%;
  }
}

.main-md #personalRecords_box {
  color: #6d6552;
  font-size: 15px;
  text-align: center;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .main-md #personalRecords_box {
    width: 90%;
    margin: auto;
  }
}

.main-md #personalRecords_mean {
  color: #6d6552;
  padding-top: 15px;
  font-size: 30px;
  text-align: left;
  width: 200px;
}

.main-md .chart-md {
  height: 50%;
  width: 65%;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .main-md .chart-md {
    -ms-flex-line-pack: center;
        align-content: center;
    height: 80%;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 420px) {
  .main-md .chart-md {
    padding: 20px;
  }
}
/*# sourceMappingURL=motion_diary.css.map */