@import 'normalize.scss';
@import 'fonts.scss';

$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;
$dark-green: #219653;
// используемые шрифты
$fz1:'Montserrat-Semibold',
sans-serif;
$fz2:'Rubik-Regular',
sans-serif;

body {
    background-color: $green;
}

$dark-green: #219653;