// @import 'fonts.scss';


$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;
$dark-green: #219653;

$color1: #FFECE1;
$color2: #C4EFF2;
$color3: #FFE9A7;

// body {
//     background-color: $green;
// }

.enter-recipe__close-button,
.recipe-card__close-button {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
    // margin: 20px auto;
    cursor: pointer;
}



.enter-recipe__close-button:before,
.recipe-card__close-button:before {
    content: '+';
    color: #219653;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}

.enter-recipe__close-button:after,
.recipe-card__close-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #219653;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}

.enter-recipe__close-button:hover:after,
.recipe-card__close-button:hover:after {
    transform: scale(1);
}

.enter-recipe__close-button:hover:before,
.recipe-card__close-button:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}


.content-container__recipe-section {
    background-color: white;

    // max-width: 1200px;
    // margin: 150px auto 20px;
    border-radius: 20px;
    min-height: 70vh;
    height: 70vh;
    // max-height: fit-content;

    padding: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: 1200px) {
        max-height: fit-content;
        height: fit-content;
    }

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: flex-start;
        max-height: fit-content;
    }
}

.recipe-section__aside {
    width: 14%;
    padding: 30px 20px;
    border-radius: 15px;
    height: 60vh;
    margin: auto;
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);

    display: flex;
    flex-direction: column;
    // align-items: center;

    background-color: #d6e7da88;
    // border: 1px solid $green;


    @media screen and (max-width: 1024px) {
        flex-direction: row;
        width: 94%;
        height: fit-content;
        padding: 5px 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.aside__button {
    height: 30px;
    width: 70%;
    border-radius: 30px;
    padding: 5px 15%;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFF;
    color: $dark-green;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &:active {
        background: #8896a069;
    }

    @media screen and (max-width: 1024px) {
        height: 30px;
        width: fit-content;
        border-radius: 30px;
        padding: 5px 5%;
        margin-bottom: 0px;
    }
}

.tags__list {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 0;
    margin-left: 15px;

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0px;
    }


    @media screen and (max-width: 768px) {
        display: none;
    }
}

.tags__item {
    margin: 15px 0px;
    list-style-type: none;

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: #8896a069;
    }

    @media screen and (max-width: 1024px) {
        margin-right: 10px;
    }
}

.recipe-section__recipes {
    width: 80%;
    max-height: 100%;

    @media screen and (max-width: 1024px) {
        width: 100%;
        max-height: fit-content;
    }
}

.recipes__title {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;

    margin-left: 40%;

    @media screen and (max-width: 1024px) {
        width: 100%;
        margin-left: 5%;
    }
}

.recipes__subtitle {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
    // margin-left: 30%;

    color: $dark-green;

    // @media screen and (max-width: 1024px) {
    //     width: 100%;
    //     // margin-left: 5%;
    // }
}


.recipe-section__cards {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    justify-content: center;

    overflow-y: scroll;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;

    color: $dark-green;

    @media screen and (max-width: 1024px) {
        max-height: 80%;
        overflow-y: initial;
    }
}

.recipe-section__card {
    max-width: 43%;
    height: 80px;
    // max-height: fit-content;
    margin: 10px 2%;
    padding: 2px 10px;

    display: flex;
    align-items: center;

    border-radius: 10px;
    background-color: $color1;

    cursor: pointer;

    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &:active {
        background-color: #8896a069;
    }

    @media screen and (max-width: 768px) {
        max-width: 93%;
        width: 93%;
    }
}

.card__img-container {
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;

    @media screen and (max-width: 768px) {
        height: 70px;
        width: auto;
    }
}

.card__img {
    max-width: 100%;
    height: auto;

    @media screen and (max-width: 768px) {
        max-height: 100%;
        width: auto;
    }
}

.recipe-section__enter-recipe {
    width: 80%;
    min-height: 70vh;
    height: 70vh;

    overflow-y: scroll;
    // overflow-x: hidden;

    @media screen and (max-width: 1024px) {
        width: 95%;
        overflow-y: initial;
        height: fit-content;
        min-height: fit-content;
    }
}

.enter-recipe__header-container {
    display: flex;
    justify-content: space-between;

    width: 93%;

    @media screen and (max-width: 480px) {
        padding-left: 10%;
    }
}

.enter-recipe__form {
    margin-top: 30px;
    width: calc(100% - 10px);
}

.enter-recipe__button {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    padding: 5px 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    // box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $green;
    color: $dark-green;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &:active {
        background: #8896a069;
    }
}

.enter-recipe__label {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    margin-left: 30px;

    @media screen and (max-width: 890px) {

        margin-left: 20px;
    }
}

.enter-recipe__input {
    margin-bottom: 20px;
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;


    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }
}

.enter-recipe__selection {
    margin-left: 30px;
    height: 30px;
    width: 200px;

    @media screen and (max-width: 768px) {
        width: 95%;
        margin-left: 20px;
    }
}

.enter-recipe__name {
    margin-left: 58px;
    width: 400px;

    @media screen and (max-width: 890px) {
        width: 93%;
        margin-left: 20px;
    }
}

.enter-recipe__fileform {
    display: inline-block;
    background-color: #FFFFFF;
    border: 1.5px solid black;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    width: 405px;
    min-width: 330px;
    margin-left: 98px;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 12px;

    color: $dark-green;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
        border: 2px solid black;
    }

    &:active {
        background: #8896a069;
    }

    @media screen and (max-width: 890px) {
        width: 72%;
        margin-left: 20px;
    }

    @media screen and (max-width: 830px) {
        width: 94%;
        margin-left: 20px;
    }

    @media screen and (max-width: 460px) {

        min-width: 92%;
    }
}

.enter-recipe__fileform .enter-recipe__selectbutton {
    background-color: $green;
    border: 1px solid $green;
    border-radius: 1px;
    color: $dark-green;
    float: right;
    font-size: 12px;
    height: 30px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    overflow: hidden;
    padding: 2px 6px;
    text-align: center;

    width: 120px;

    @media screen and (max-width: 530px) {

        width: 100px;
    }
}

#recipePhoto {
    display: none;
    // position: relative;
    // top: -40px;
}

.enter-recipe__fileformlabel {
    background-color: #FFFFFF;
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    // width: calc(100% - 130px);
    width: 65%;


    @media screen and (max-width: 530px) {

        width: 60%;
    }

    @media screen and (max-width: 370px) {

        width: 40%;
    }

    @media screen and (max-width: 270px) {

        width: 35%;
    }
}

.enter-recipe__photo-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 890px) {

        flex-wrap: wrap;
    }
}

.enter-recipe__ingredients-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    width: calc(100% - 10px);
    margin-top: 20px;

    & .enter-recipe__label {
        margin-left: 30px;
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-left: 5px;
        flex-direction: column;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        // margin-left: 10px;
    }
}

.enter-recipe__ingredients {
    margin-left: 14px;
    width: 68%;
    height: 80px;
    margin-bottom: 10px;

    @media screen and (max-width: 1200px) {
        width: 93%;
        margin-left: 15px;
    }
}

.enter-recipe__text {
    margin-left: 30px;
    width: 93%;
    height: 120px;


    @media screen and (max-width: 1200px) {
        margin-left: 20px;
    }
}

*,
html *

/* override x.xhtml.ru style */
    {
    scrollbar-width: thin;
    scrollbar-color: $pink $green;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    height: 10px;
    width: 9px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: $green;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: $pink;
}

.enter-recipe__error {
    margin-left: 30px;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;

    color: $dark-green;
}


.resipes__close-button-subtitle-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-active {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 90%;
    max-width: 90%;
    height: fit-content;
    padding-left: 30px;
}

.card-active .card__subtitle {
    font-size: 22px;
}

.card__bold-text {
    font-family: 'Rubik-Medium', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #12522d;
}


.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    position: relative;
    width: 33.33334%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    counter-increment: item;
}

@media screen and (max-width: 768px) {
    .list {
        display: block;
    }

    .item {
        width: auto;
    }
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $dark-green;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}


#recipeMenu01.active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-45deg);
}

#recipeMenu01.active span:nth-of-type(2) {
    opacity: 0;
}

#recipeMenu01.active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(45deg);
}

.tags__list_alternative {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 15px;
    margin-left: 15px;
    box-sizing: border-box;

    position: absolute;
    background-color: $green;
    z-index: 2;
    right: 0%;
    width: 100%;

}

.menu-trigger {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
    }
}


@media screen and (max-width: 1200px) {
    .enter-recipe__ingredients-container .enter-recipe__label {
        margin-left: 20px;
    }

}