@import './normalize/normalize.scss';
@import './fonts/fonts.scss';
@import './components/exit_button/exit_button.scss';

@import './blocks/common/common.scss';
@import './blocks/header/title/header-title.scss';
@import './blocks/header/buttons/header_buttons.scss';
@import './blocks/main/content_container/content-container.scss';
@import './blocks/main/content_container_content/content_container_content_common/content_container_content.scss';
// @import './blocks/main/content_container_content/calories_calc/calories_calc.scss';
// @import './blocks/main/content_container_content/IMT/IMT.scss';
// @import './blocks/main/content_container_content/motion_diary/motion_diary.scss';
@import 'my_recipes.scss';
@import 'random_recipe.scss';




@import './hidden/hidden.scss';