@import 'normalize.scss';
@import 'fonts.scss';

$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;
$dark-green: #219653;


.header__title {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 40px;
}

.body {
    background-color: $pink;
}

.header__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 50px;
}

.header__button {
    height: 30px;
    width: 200px;
    border-radius: 30px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: #FFF, $alpha: 0.5);

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;
}

.header__button_active {
    background-color: rgba($color: #FFF, $alpha: 1.0);
    color: $dark-pink;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.right-column__image {
    max-width: 90%;
    margin-left: 5%;
}

.content-container__left-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.left-column__button {
    display: flex;
    flex-direction: column;

    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 144px;

    background-color: white;
    border-radius: 6px;

    padding: 15px 15px 15px 15px;
    transition: all 0.3s ease;
    cursor: pointer;

    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;

    &:active {
        background: #8896a069;
        color: #fff;
    }

    &:hover {
        position: relative;
        bottom: 10px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
}

.content-container__right-column {
    width: 50%;
}

.main__content-container {
    display: flex;
}

.button__img {
    width: 36px;
    height: 36px;
    margin-bottom: auto;

    & img {
        max-width: 100%;
    }
}

.hidden {
    display: none;
}

.main__content-container_green {
    // margin-top: 70px;

    & .content-container__left-column {
        margin-top: 70px;
    }
}

.main__content-container-empty {
    height: 70vh;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}