@import 'normalize.scss';
@import 'fonts.scss';
@import 'my_recipes.scss';
@import 'random_recipe.scss';
@import 'calories_calc.scss';
@import 'IMT.scss';
@import 'motion_diary.scss';


$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;
$dark-green: #219653;


.header__title {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 40px;

    @media screen and (max-width: 578px) {
        margin-top: 15px;
    }
}

.body {
    background-color: $pink;
}

.header__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.header__button {
    height: 30px;
    width: 200px;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($color: #FFF, $alpha: 0.5);

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;
}

.header__button_active {
    background-color: rgba($color: #FFF, $alpha: 1.0);
    color: $dark-pink;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.right-column__image {
    max-width: 90%;
    margin-left: 5%;


    @media screen and (max-width: 1024px) {
        min-width: 110%;
        margin-left: -10%;
    }

    @media screen and (max-width: 768px) {
        min-width: 100%;
        margin-left: 0%;
    }
}

.content-container__left-column {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    // transition: all 3s ease-out;

    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
}

.left-column__button {
    display: flex;
    flex-direction: column;

    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 144px;

    background-color: white;
    border-radius: 6px;

    padding: 15px 15px 15px 15px;
    // transition: bottom 1s;
    cursor: pointer;

    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;

    &:active {
        background: #8896a069;
        color: #fff;
        transition: all 1s ease-out;
    }

    &:hover {
        position: relative;
        bottom: 10px;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        transition: all 1s;
    }

    @media screen and (max-width: 480px) {
        font-size: 14px;
        line-height: 20px;
        padding: 7px;

        width: calc(100% / 2.5 - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.content-container__right-column {
    width: 50%;

    @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.main__content-container {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;

    }
}

.button__img {
    width: 36px;
    height: 36px;
    margin-bottom: auto;

    & img {
        max-width: 100%;
    }
}

.hidden {
    display: none;
}

.main__content-container_green {
    // margin-top: 70px;

    & .content-container__left-column {
        margin-top: 70px;
    }
}

.main__content-container-empty {
    min-height: 70vh;
    background-color: white;
    border-radius: 20px;
    // padding: 15px;
    margin-bottom: 20px;
}

.content-container__content {
    width: 100%;
}