$pink: #f8eae8;
$green: #d6e7da;
$dark-pink: #eb4b51;
$dark-green: #219653;

$color1: #FFECE1;
$color2: #C4EFF2;
$color3: #FFE9A7;

.recipe-section__enter-recipe {
    width: 80%;
    min-height: 70vh;
    height: 70vh;

    overflow-y: scroll;
    // overflow-x: hidden;

    @media screen and (max-width: 1024px) {
        width: 95%;
        overflow-y: initial;
        height: fit-content;
        min-height: fit-content;
    }
}

.enter-recipe__header-container {
    display: flex;
    justify-content: space-between;

    width: 93%;

    @media screen and (max-width: 480px) {
        padding-left: 10%;
    }
}

.enter-recipe__form {
    margin-top: 30px;
    width: calc(100% - 10px);
}

.enter-recipe__button {
    height: 30px;
    width: 100px;
    border-radius: 30px;
    padding: 5px 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    // box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $green;
    color: $dark-green;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }

    &:active {
        background: #8896a069;
    }
}

.enter-recipe__label {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    margin-left: 30px;

    @media screen and (max-width: 890px) {

        margin-left: 20px;
    }
}

.enter-recipe__input {
    margin-bottom: 20px;
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: normal;
    font-style: normal;


    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    }
}

.enter-recipe__selection {
    margin-left: 30px;
    height: 30px;
    width: 408px;

    @media screen and (max-width: 768px) {
        width: 95%;
        margin-left: 20px;
    }
}

.enter-recipe__name {
    margin-left: 58px;
    width: 400px;

    @media screen and (max-width: 890px) {
        width: 93%;
        margin-left: 20px;
    }
}

.enter-recipe__fileform {
    display: inline-block;
    background-color: #FFFFFF;
    border: 1.5px solid black;
    border-radius: 2px;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    width: 405px;
    min-width: 330px;
    margin-left: 98px;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 12px;

    color: $dark-green;

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
        border: 2px solid black;
    }

    &:active {
        background: #8896a069;
    }

    @media screen and (max-width: 890px) {
        width: 72%;
        margin-left: 20px;
    }

    @media screen and (max-width: 830px) {
        width: 94%;
        margin-left: 20px;
    }

    @media screen and (max-width: 460px) {

        min-width: 92%;
    }
}

.enter-recipe__fileform .enter-recipe__selectbutton {
    background-color: $green;
    border: 1px solid $green;
    border-radius: 1px;
    color: $dark-green;
    float: right;
    font-size: 12px;
    height: 30px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    overflow: hidden;
    padding: 2px 6px;
    text-align: center;

    width: 120px;

    @media screen and (max-width: 530px) {

        width: 100px;
    }
}

#recipePhoto {
    display: none;
    // position: relative;
    // top: -40px;
}

.enter-recipe__fileformlabel {
    background-color: #FFFFFF;
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    // width: calc(100% - 130px);
    width: 65%;


    @media screen and (max-width: 530px) {

        width: 60%;
    }

    @media screen and (max-width: 370px) {

        width: 40%;
    }

    @media screen and (max-width: 270px) {

        width: 35%;
    }
}

.enter-recipe__photo-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 890px) {

        flex-wrap: wrap;
    }
}

.enter-recipe__ingredients-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    width: calc(100% - 10px);
    margin-top: 20px;

    & .enter-recipe__label {
        margin-left: 30px;
    }

    @media screen and (max-width: 1200px) {
        width: 100%;
        margin-left: 5px;
        flex-direction: column;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        // margin-left: 10px;
    }
}

.enter-recipe__ingredients {
    margin-left: 14px;
    width: 68%;
    height: 80px;
    margin-bottom: 10px;

    @media screen and (max-width: 1200px) {
        width: 93%;
        margin-left: 15px;
    }
}

.enter-recipe__text {
    margin-left: 30px;
    width: 93%;
    height: 120px;


    @media screen and (max-width: 1200px) {
        margin-left: 20px;
    }
}


.enter-recipe__error {
    margin-left: 30px;

    font-family: 'Montserrat-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;

    color: $dark-green;
}